### Import File From Local

In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = 'path/to/your/sales_data.csv'
df = pd.read_csv(file_path)

### Create connection to ODBC Server

In [ ]:
import pyodbc

# Define the connection string
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};' #look for ODBC in SQL Settings
    'SERVER=your_server_name;' # find the server name to input
    'DATABASE=your_database_name;' # the database
    'UID=your_username;' #the user account
    'PWD=your_password' #the password
)

cursor = conn.cursor()

### Create a Table in DATALAKE

In [ ]:
# query = CREATE TABLE SalesDataLake (
#     id INT IDENTITY(1,1) PRIMARY KEY,
#     Date DATE,
#     Product_ID INT,
#     Store_ID INT,
#     Units_Sold INT,
#     Unit_Price DECIMAL(10, 2)
# );

# This will be create in the sql server

### Insert data into Data Lake

In [ ]:
from sqlalchemy import create_engine

# Create an engine to connect to SQL Server
engine = create_engine('mssql+pyodbc://your_username:your_password@your_server_name/your_database_name?driver=ODBC+Driver+17+for+SQL+Server')

# Load data into the SalesDataLake table
df.to_sql('SalesDataLake', con=engine, if_exists='append', index=False)

### Transform Data (OPTIONAL)

In [ ]:
df_agg = df.groupby(['Date', 'Product_ID']).agg({
    'Units_Sold': 'sum',
    'Unit_Price': 'mean'  # Average price if needed
}).reset_index()

# Calculate Total Sales
df_agg['Total_Sales'] = df_agg['Units_Sold'] * df_agg['Unit_Price']

### Create Table in DATA WAREHOUSE

In [ ]:
# CREATE TABLE SalesDataWarehouse (
#     id INT IDENTITY(1,1) PRIMARY KEY,
#     Date DATE,
#     Product_ID INT,
#     Units_Sold INT,
#     Total_Sales DECIMAL(10, 2)
# );

# do in the sql too

### Insert Transformed Data into the Data Warehouse:

In [ ]:
# Load transformed data into the SalesDataWarehouse table
df_agg.to_sql('SalesDataWarehouse', con=engine, if_exists='append', index=False)

### Verify the Loaded Data

In [ ]:
# Verify data in the warehouse
df_loaded = pd.read_sql('SELECT * FROM SalesDataWarehouse', con=engine)
print(df_loaded.head())